* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(images/calliopecard.png) no-repeat;
    height: 100%;
    background-position: 50% -10%;
}


.calli-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: rgba(11, 176, 218, 0.5);
    background-color: rgba(11, 176, 218, 0.5);
    color: #fff;
}

.calli-name {
    animation: flipInX;
    animation-duration: 2s;
}

@keyframes flipInX {
    0% {
       transform: perspective(400px) rotateX(90deg);
       opacity: 0;
    }
    40% {
       transform: perspective(400px) rotateX(-10deg);
    }
    70% {
       transform: perspective(400px) rotateX(10deg);
    }
    100% {
       transform: perspective(400px) rotateX(0deg);
       opacity: 1;
    }
 } 

 .bio-container {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    animation: slideInRight  ease 1s;
 }

 @keyframes slideInRight{
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
 }

 .bio-img {
    height: 35rem;
 }

 .bio-text {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: -15rem;
 }

 .calli-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
 }

 .calli-youtube {
    --color: #FF0000;
    background: var(--color);
    border: none;
    color: white;
    font-size: 1rem;
    padding: .5em .7em;
    border-radius: .25em;
    cursor: pointer;
 }

 .calli-youtube:hover, .calli-youtube:focus {
    background:#f07777;
}

.calli-twitter {
    background: none;
    border: 1px solid #0bb0da80;
    color: #0bb0da80;
    font-size: 1rem;
    padding: .5em .7em;
    border-radius: .25em;
    cursor: pointer;
}

.calli-twitter:hover, .calli-twitter:focus {
    background: #1DA1F2;
    color: white;
}

.calli-youtube + .calli-twitter {
    margin-left: .75rem;
}


#left-arrow {
    margin-left: .5rem;
    margin-top: 1px;
    color: #fff;
    position: fixed;
}

#left-arrow:hover {
    cursor: pointer;
}


@media (max-width: 576px) {

    .bio-img {
        height: 25rem;
    }

    .bio-text {
        padding-top: 15rem;
    }
}

@media (max-width: 768px) {
}

@media (min-width: 992px) {
}