* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(images/calliopecard.png) no-repeat;
    height: 100%;
    background-position: 50% -10%;
}


.calli-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: rgba(11, 176, 218, 0.5);
    background-color: rgba(11, 176, 218, 0.5);
    color: #fff;
}

.calli-name {
    animation: flipInX;
    animation-duration: 2s;
}

@keyframes flipInX {
    0% {
       transform: perspective(400px) rotateX(90deg);
       opacity: 0;
    }
    40% {
       transform: perspective(400px) rotateX(-10deg);
    }
    70% {
       transform: perspective(400px) rotateX(10deg);
    }
    100% {
       transform: perspective(400px) rotateX(0deg);
       opacity: 1;
    }
 } 

 .bio-container {
    display: flex;
    align-items: center;
    padding-top: 10rem;
 }

 .bio-img {
    height: 35rem;
 }

 .bio-text {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -15rem;
 }

#left-arrow {
    margin-left: .5rem;
    margin-top: 1px;
    color: #fff;
    position: fixed;
}

#left-arrow:hover {
    cursor: pointer;
}


@media (max-width: 576px) {
}

@media (max-width: 768px) {
}

@media (min-width: 992px) {
}