* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #222;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.hero-image {
    display: grid;
    justify-content: center;
    padding: 5rem 5rem;
}

main {
    margin: 5rem;
}